# Compiled class file
*.class
# Log file
*.log
# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.iml
.idea
target
/transaction-logs/
src/main/frontend/node_modules/
src/main/frontend/node/
*~
*.rdb
.DS_Store
