#subscribe {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 1px solid #445588;
    font-size: 15px;
    padding: 20px;
    color: #555555;
    width: 400px;
}

#form {
    display: flex;
    flex-direction: column;
}

#thanks {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding-top: 3px;
    text-align: center;
}

input {
    font-size: 15px;
    width: 100%;
}

button {
    float: right;
}