#error {
    border-radius: 5px;
    border: 2px solid red;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    width: available;
    margin-top: 10px;
}

#header {
    font-size: 15px;
    font-weight: bold;
    margin-left: 14px;
    padding-bottom: 20px;
    color: crimson;
}

#description {
    font-size: medium;
    margin-left: 30px;
    color: crimson;
}
