#menu {
    margin-left: 40px;
    border-radius: 2px;
    border: 1px #445588;
    display: flex;
    flex-direction: row;
    font-size: 13px;
}

.menuItemActive {
    background-color: #dddddd;
}


button {
    margin-right: 8px;
}