<mat-card id="areas" *ngIf="storage.serviceStatus != null && storage.serviceStatus.components != null">
    <mat-card-header id="header" class="{{storage.serviceStatus.statusType}}">
        Components
    </mat-card-header>
    <mat-card-content id="components">
        <mat-list class="list">
            <mat-list-item class="item" *ngFor="let component of storage.serviceStatus.components; last as last">
                <div class="row">
                    <div class="name"><span>{{component.name}}</span></div>
                    <div class="status">
                        <span>{{component.statusString}}</span>
                    </div>
                </div>
                <mat-divider [inset]="true" *ngIf="!last" style="width: 90%; margin-left: 5%"></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
